@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

/* Base styles color:  */
:root{
  --theme1-main-background: hsl(222, 26%, 31%);
  --theme1-toggle-background:  hsl(223, 31%, 20%);
  --theme1-screen-background: hsl(224, 36%, 15%);
  --theme1-bluekey-background: hsl(225, 21%, 49%);
  --theme1-bluekey-shadow: hsl(224, 28%, 35%);
  --theme1-bluekey-hover: rgb(145, 155, 187);
  --theme1-red-key: hsl(6, 63%, 50%);
  --theme1-redkey-shadow: hsl(6, 70%, 34%);
  --theme1-redkey-hover: rgb(213, 92, 79);;
  --theme1-whitekey: hsl(30, 11%, 82%);
  --theme1-whitekey-shadow: hsl(28, 16%, 65%);
  --theme1-whitekey-hover: white;
  --theme1-number-color: hsl(221, 14%, 31%);
  --calc-font-family: 'League Spartan', sans-serif;
  --font-size: 32px;
}

/* general styles */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:var(--theme1-main-background);
  font-family: var(--calc-font-family); 
}

body.theme2{
  --theme1-main-background: hsl(0, 0%, 90%);
  --theme1-toggle-background:  hsl(0, 5%, 81%);
  --theme1-screen-background: hsl(0, 0%, 93%);
  --theme1-bluekey-background: hsl(185, 42%, 37%);
  --theme1-bluekey-shadow: hsl(185, 58%, 25%);
  --theme1-bluekey-hover: hsl(185, 40%, 54%);
  --theme1-red-key: hsl(25, 98%, 40%);
  --theme1-redkey-shadow: hsl(25, 99%, 27%);
  --theme1-redkey-hover: hsl(25, 67%, 54%);
  --theme1-whitekey: hsl(30, 11%, 82%);
  --theme1-whitekey-shadow: hsl(28, 16%, 65%);
  --theme1-whitekey-hover: white;
  --theme1-number-color: hsl(60, 10%, 19%);
}

body.theme3{
  --theme1-main-background: hsl(268, 75%, 9%);
  --theme1-toggle-background:  hsl(268, 71%, 12%);
  --theme1-screen-background: hsl(268, 71%, 12%);
  --theme1-bluekey-background: hsl(281, 89%, 26%);
  --theme1-bluekey-shadow: hsl(285, 91%, 52%);
  --theme1-bluekey-hover: hsl(285, 80%, 68%);
  --theme1-red-key: hsl(176, 100%, 44%);
  --theme1-redkey-shadow: hsl(177, 92%, 70%);
  --theme1-redkey-hover: hsl(176, 71%, 86%);
  --theme1-whitekey: hsl(268, 47%, 21%);
  --theme1-whitekey-shadow: hsl(290, 70%, 36%);
  --theme1-whitekey-hover: hsl(52, 100%, 62%);
  --theme1-number-color: hsl(52, 100%, 62%);
}

.calcLayout{
  width: 800px;
  padding: 20px;
}

/* header styling */
#header{  
  margin-bottom: 10px;
}
.navbar{
  box-shadow: none;
  border: none;
  padding: 1px 15px;

}
.calcHeader{  
  cursor: pointer;
  grid-column: 1/-1;
}
.calcLabel{
  color: var(--theme1-whitekey-hover);
  font-size: 2.8rem;
}

.radioArea{
  float: right;
  display: flex;
  flex-direction: row;
}

.form-check{
  margin-right: -2px;
  margin-top: 6px;
}



.radioBackground{
  margin-left: 20px;
  background-color: var(--theme1-toggle-background);
  padding: 0px 22px;
  border-radius: 22px;
  margin-top: -7px;
}

.input-group{
  display: flex;
  flex-direction: column;
}

.toggleDigits{
  color: var(--theme1-whitekey-hover);
  margin-top: -15px;
  margin-bottom: 3px;
  text-align: center;
  word-spacing: 15px;
  margin-left: 65px;
}


/* display area styling */
#displayArea{
  margin-bottom: 10px;
}

.contain{
	border-radius: 8px;
	background-color: var(--theme1-screen-blue);
	color: var(--theme1-whitekey-hover);
	display: flex;
	flex-wrap: wrap;
	padding: 1px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.numDisplay{
	font-size: 4.5em;
	font-weight: 400;
  margin-left: auto;
}


/* Keys area styling */
#keyArea{
   padding: 1px 10px;
}
.keyBody{
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--theme1-toggle-background); 
}

.rows{
	font-size: 2.5rem;
  margin: 25px;
  gap: 25px;
	display: flex;
	flex-direction: row;
}

.blueKeys{
  background-color: var(--theme1-bluekey-background);
  font-weight: bolder;
  color: var(--theme1-whitekey-hover);
  border: none;  
  box-shadow:  -1px 3px 0 3px var(--theme1-bluekey-shadow),  -3px 3px 0 5px black;

}

.blueKeys:hover{
	background: var(--theme1-bluekey-hover);
  border: none;
}

.col{
  padding: 5px 10px;
  border-radius: 10px;
}

.orangeKey{
	background-color: var(--theme1-red-key);
	color: var(--theme1-whitekey-hover);
	font-weight: bolder;
  border: none;
  box-shadow:  -1px 3px 0 3px var(--theme1-redkey-shadow),  -3px 3px 0 5px black
}

.orangeKey:hover{
	background: var(--theme1-redkey-hover);	
}

.whiteKeys{
	background-color: var(--theme1-whitekey);
	color: var(--theme1-number-color);
	font-weight: bolder;
  border: none;
   box-shadow:  -1px 3px 0 3px var(--theme1-whitekey-shadow),  -3px 3px 0 5px black;
}

.whiteKeys:hover{
	background: var(--theme1-whitekey-hover);
}


/** media queries for responsive interface **/
 /** tablet view **/
 @media (min-device-width: 764px) 
  and (max-device-width: 990px)
  and (-webkit-min-device-pixel-ratio: 1){}

   /* Mobile devices view */

@media only screen 
and (min-device-width: 175px) 
and (max-device-width: 764px)
and (-webkit-min-device-pixel-ratio: 2){
  #header{  
    margin-bottom: 30px;
    margin-top: 40px;
  }

  #displayArea{
    margin-bottom: 30px;
    padding: 40px 0px;
  }

  .contain{
    padding: 20px 10px;    
  }

  #keyArea{
    height: auto;
 }

  .keyBody{
    
    height: auto;
 }

 .rows{
  margin: 50px;
  gap: 50px;	
}
  
}
